namespace AdventOfCode;

public class DayXX : BaseDay
{
    private readonly string _input;

    public DayXX()
    {
        _input = File.ReadAllText(InputFilePath);
    }

    public override ValueTask<string> Solve_1() => new(_input.Length.ToString());

    public override ValueTask<string> Solve_2() => new(_input.Length.ToString());
}
